@import "../node_modules/bootstrap/scss/functions";
@import "./helpers/variables";
@import "../node_modules/bootstrap/scss/bootstrap";


img{
    max-width: 100%;
    vertical-align: middle;
    object-fit: cover;
  }

  ul  {
    margin: 0;
    padding: 0;
    list-style: none;
}


header{
    height:715px;
    width:100%;
    background-image: url(../image/header-background.jfif);
    background-size: cover;
    img{
        height:23%;
        width:545px;
        top:30%;
        left:28%;
        @media (max-width: 575.98px) { 
            top:36.4%;
            left:14%;
            height:82px;
            width:269px;
        }
    }
    h1{
        top:53%;
        left:53%;
        font-size: 20px;
        color: $light;
       font-family: 'Noto Sans';
       @media (max-width: 575.98px) { 
        left:17.8%;
    }
    }
}

nav{
    position:relative;
    top:-100px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: $light;
    border-bottom:1px solid $light;
    @include media-breakpoint-down(sm) { 
        top:-55px;
        height:55px;
        border-bottom:none;
     }
    li{
        list-style-type: none;
    }
    .nav-firstItem{
        width:26.6%;
        a{  
            display:block;
            padding-left:33%;
            padding-top:19px;
            font-size: 10px;
            color:#7E7E7E;
            font-weight: 300;
            img{
                height:49px;
                width:133px;
                
            }
        }
    }
    .nav-item{
        width:18.3%;
        border-left: 1px solid #E5E5E5;
        a{  
            display:block;
            padding-top:39px;
            padding-bottom:39px;
            font-size: 16px;
            color:#7E7E7E;
            font-weight: 400;
            text-align: center;
        }
     
    }
}


.intro{
    width:60%;
    margin: 0 auto;
    .intro-img{
        padding-left:202px;
        vertical-align: middle;
    }
}

.latestNews{
    border-bottom:1px solid #B6B6B6; 
    border-top:1px solid #B6B6B6; 
    height:472px;
}

.latestNews-link{
    width:17.5%;
    h2{
        color: $primary;
    }
}

.latestNews-card{
    width:27.5%;
    color:$light;
    font-family: Roboto,sans-serif;
    a{
        color: $light;
        text-decoration: underline;
        padding-top: 12.3%;
    }
}
.bikeRoute{
    background-image: url(/image/index_news01.jpg);
    width:100%;
    height:472px;
    background-position: center;
    object-fit: cover;
}
.newParkExibOpen{
    background-image: url(/image/index_news02.jpg);
    width:100%;
    height:472px; 
    background-position: center;
    object-fit: cover;
}

.latestNews-date{
    padding-top: 37.6%;
    font-size: 16px;
}



.latestNews-card-title{
   padding-left:19.4%;
   padding-right:19.4%; 
    font-size: 22px;
    font-weight: 700;
}